Repository yuyak97/react-native-websocket-self-signed: changes, and which lefthook commands are due for each by the changed paths.
All: lint, types, test

lint:
  run: npx eslint {staged_files}

types:
  run: npx tsc

test:
  run: npm test --bail src/

feat: update onClose logic
  src/__tests__/WebSocketSelfSignedi.test.tsx
  src/models/WebSocketSelfSigned.ts
Due: lint, types, test

chore: update example project to demonstrate library
  example/src/App.tsx
Due: lint, test

chore: improve documents
  CONTRIBUTING.md
  README.md
  docs/WEB_SOCKET_SERVER_FOR_DEV.md
Due: none

refactor: rename modules
  README.md
  android/build.gradle
  android/src/main/AndroidManifest.xml
  android/src/main/java/com/websocketselfsigned/WebsocketSelfSignedModule.kt
  android/src/main/java/com/websocketselfsigned/WebsocketSelfSignedPackage.kt
  example/src/App.tsx
  ios/WebsocketSelfSigned.mm
  ios/WebsocketSelfSigned.swift
  src/__tests__/WebSocketSelfSignedi.test.tsx
  src/index.tsx
  src/models/WebSocketSelfSignedNativeModule.ts
  src/models/WebSocketWithSelfSignedCert.ts
  src/models/WebSocketWithSelfSignedCertNativeModule.ts
  src/types/native-module.d.ts
Due: lint, types, test

feat: implemented onBinaryMessage
  README.md
  android/src/main/java/com/websocketselfsigned/WebsocketSelfSignedModule.kt
  docs/WEB_SOCKET_SERVER_FOR_DEV.md
  example/src/App.tsx
  ios/WebsocketSelfSigned.swift
  src/__tests__/WebSocketSelfSignedi.test.tsx
  src/enums/websocket-event.enum.ts
  src/models/WebSocketWithSelfSignedCert.ts
  src/models/WebSocketWithSelfSignedCertNativeModule.ts
  src/types/native-module.d.ts
  yarn.lock
Due: lint, types, test

chore: format ci.yml
  .github/workflows/ci.yml
Due: none

chore: update ci
  .github/workflows/ci.yml
  example/ios/Podfile.lock
  example/ios/WebsocketSelfSignedExample.xcworkspace/contents.xcworkspacedata
Due: none

chore: implemented publish.yml
  .github/workflows/publish.yml
Due: none

fix: update logic for ios
  README.md
  example/src/App.tsx
  ios/WebsocketSelfSigned.swift
Due: lint, test

chore: format README
  README.md
  package.json
Due: none

feat: implement header arg Refs: #2
  android/src/main/java/com/websocketselfsigned/WebsocketSelfSignedModule.kt
  example/ios/Podfile.lock
  example/src/App.tsx
  ios/WebsocketSelfSigned.mm
  ios/WebsocketSelfSigned.swift
  src/__tests__/WebSocketSelfSignedi.test.tsx
  src/models/WebSocketWithSelfSignedCert.ts
  src/types/native-module.d.ts
Due: lint, types, test

chore: release 0.3.0
  package.json
Due: none

chore: format README
  README.md
Due: none

chore: update devDependencies
  package.json
  yarn.lock
Due: none

chore: update presets module of babel.config
  babel.config.js
Due: lint, types, test

chore: set automaticPodsInstallation for local dev
  example/react-native.config.js
Due: lint, types, test

fix: ensure main-thread event dispatch to avoid crash in WebSocket module
  example/ios/Podfile.lock
  ios/WebsocketSelfSigned.swift
Due: none

chore: release 0.3.1
  package.json
Due: none

Update README.md
  README.md
Due: none

feat: updated native modules
  android/src/main/java/com/websocketselfsigned/WebsocketSelfSignedModule.kt
  ios/WebsocketSelfSigned.mm
  ios/WebsocketSelfSigned.swift
Due: none

feat: updated TS side models and types
  src/models/WebSocketWithSelfSignedCert.ts
  src/types/native-module.d.ts
Due: lint, types, test

test: updated test for handling multiple instances
  src/__tests__/WebSocketSelfSignedi.test.tsx
Due: lint, test

feat: updated example App.tsx
  example/src/App.tsx
Due: lint, test

chore: update README
  README.md
Due: none

chore: updated README
  README.md
Due: none

handling multiple websocket connection (#9)
  README.md
  android/src/main/java/com/websocketselfsigned/WebsocketSelfSignedModule.kt
  example/src/App.tsx
  ios/WebsocketSelfSigned.mm
  ios/WebsocketSelfSigned.swift
  src/__tests__/WebSocketSelfSignedi.test.tsx
  src/models/WebSocketWithSelfSignedCert.ts
  src/types/native-module.d.ts
Due: lint, types, test

chore: release 0.4.0
  package.json
Due: none

feat: add send binary logic to ios
  ios/WebsocketSelfSigned.mm
  ios/WebsocketSelfSigned.swift
Due: none

feat: add send binary function to typescript
  README.md
  example/ios/Podfile.lock
  src/models/WebSocketWithSelfSignedCert.ts
  src/types/native-module.d.ts
Due: lint, types, test

feat: add sendBinary to kotolin
  android/src/main/java/com/websocketselfsigned/WebsocketSelfSignedModule.kt
Due: none

Implement send binary base64 (#12)
  README.md
  android/src/main/java/com/websocketselfsigned/WebsocketSelfSignedModule.kt
  example/ios/Podfile.lock
  ios/WebsocketSelfSigned.mm
  ios/WebsocketSelfSigned.swift
  src/models/WebSocketWithSelfSignedCert.ts
  src/types/native-module.d.ts
Due: lint, types, test

chore: release 0.5.0
  package.json
Due: none

refactor: migrate swift to turbo
  ios/WebsocketSelfSigned.h
  ios/WebsocketSelfSigned.mm
  ios/WebsocketSelfSigned.swift
Due: none

refactor: migrate android to TurboModule
  android/src/main/AndroidManifest.xml
  android/src/main/AndroidManifestNew.xml
  android/src/main/java/com/websocketselfsigned/WebsocketSelfSignedModule.kt
  android/src/main/java/com/websocketselfsigned/WebsocketSelfSignedPackage.kt
Due: none

refactor: remove deprecated type
  src/index.tsx
Due: lint, test

chore: add generated example ios
  example/ios/.xcode.env
  example/ios/Podfile
  example/ios/Podfile.lock
  example/ios/WebsocketSelfSignedExample-Bridging-Header.h
  example/ios/WebsocketSelfSignedExample.xcodeproj/project.pbxproj
  example/ios/WebsocketSelfSignedExample.xcodeproj/xcshareddata/xcschemes/WebsocketSelfSignedExample.xcscheme
  example/ios/WebsocketSelfSignedExample.xcworkspace/contents.xcworkspacedata
  example/ios/WebsocketSelfSignedExample/AppDelegate.swift
  example/ios/WebsocketSelfSignedExample/Images.xcassets/AppIcon.appiconset/Contents.json
  example/ios/WebsocketSelfSignedExample/Images.xcassets/Contents.json
  example/ios/WebsocketSelfSignedExample/Info.plist
  example/ios/WebsocketSelfSignedExample/LaunchScreen.storyboard
  example/ios/WebsocketSelfSignedExample/PrivacyInfo.xcprivacy
Due: none

Path conditions:
  lint: any of: *.{js,ts,jsx,tsx}
  types: any of: *.{js,ts, jsx, tsx}
  test: any of: *.{js,ts,jsx,tsx}
